asgiref==3.7.2
attrs==23.1.0
Django==4.2.5
djangorestframework==3.14.0
drf-spectacular==0.26.4
fuzzywuzzy==0.18.0
inflection==0.5.1
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
Levenshtein==0.21.1
Pillow==10.0.0
python-Levenshtein==0.21.1
pytz==2023.3.post1
PyYAML==6.0.1
rapidfuzz==3.2.0
referencing==0.30.2
rpds-py==0.10.2
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
uritemplate==4.1.1
